<!--<div *ngIf="patient">-->
<form #patientForm="ngForm" ngNativeValidate (ngSubmit)="save(patient)">
  <div class="row">
    <label class="col-l-2">Name<span class="required">*</span></label>
    <div class="col-l-4">
      <input type="text"
             class="form-input"
             name="Standortkennung" autofocus
             title="Name" [(ngModel)]="patient.name" [attr.required]="true">
    </div>

    <label class="col-l-2">Surname<span class="required">*</span></label>
    <div class="col-l-4">
      <input type="text" class="form-input"
             name="Surname"
             title="Surname"
             [(ngModel)]="patient.surname" [attr.required]="true">
    </div>
    <label class="col-l-2">Address<span class="required">*</span></label>
    <div class="col-l-4">
      <input type="text" class="form-input"
             name="Address"
             title="Address"
             [(ngModel)]="patient.address" [attr.required]="true">
    </div>
    <br>
    <label class="col-l-2">Degree</label>
    <div class="col-l-4">
      <select id="degree" class="form-select" name="degree" [(ngModel)]="patient.degree">
        <option selected value=""></option>
        <option *ngFor="let degree of degrees">{{degree}}</option>
      </select>
    </div>
    <br>
    <input #file type="file" accept='image/*' (change)="preview(file.files)" />
  </div>
<button class="button" type="submit">Save</button>
  <button class="button" type="button" (click)="reset()">Reset</button>
</form>
<!--</div>-->
